<header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Jobs Portal">
        Feature Request App
      </a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item" data-bind="css: { active: route.page === 'home-page' }">
                <a class="nav-link" href="#">Home</a>
            </li>

            <li class="nav-item" data-bind="css: { active: route.page === 'about-page' }">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</header>